version: "3.8"

services:
  db:
    container_name: fitness-postgres
    image: postgres:15
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data_f:/var/lib/postgresql/data

volumes:
  postgres_data_f:
